.Tags{
    margin: 34px 12px;
    background-color: white;
}
.Tag{
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    padding:20px 15px;
    background-color:black;
    color:white;
}
.TagSection{
    padding:20px;
}