
.Form [type="submit"]{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 7px 20px;
    display: flex;
    margin-left:25px;
    color: #fff;
    border: none;
    outline: none;
}

