.TextPart{
    padding: 0px 35px;
}
.RedHeading{
    font-size: 35px;
    color: #c50e1f;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 34px;
    font-family: 'Patrick Hand', cursive;
  }
@media screen and (max-width: 426px) and (min-width: 319px) {
.TextPart{
    padding:15px;
}  
.RedHeading{
    font-size: 25px;
}
}