.Subscribe{
    margin:34px 12px;
    background-color: white;
}
.h4{
        font-family: "Oswald";
        font-weight: 400;
        font-size: 20px;
        padding:20px 15px;
        background-color:black;
        color:white;
}
.textArea{
    padding:10px;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.5;
}
.textBox{
    margin:10px 0px;
    width:100%;
    border: 1px solid #ccc;
    padding:10px;
    font-family: "Open Sans";
    font-size: 16px;
    box-sizing: border-box;
}
.textBox:focus{
    border:1px solid blue;
}
.button{
    width:100%;
    padding:10px;
    font-family: "Open Sans";
    font-size: 16px;
    border:none;
    cursor: pointer;
    outline: none;
    background-color:#f44336;
    color:white;
}
.button:hover{
    background-color: #ccc;
    color:black;
}