.Poster{
    border-top:2px solid #f1f1f1;
    padding:15px;
    display: flex;
}
.Poster:hover{
    background-color: #ccc;
}
.Image{
    width:50px;
    height:60px;
}
.Detail{
    margin:0px 10px;
}
.name{
    font-size: 18px;
    font-family: "Open Sans";
    line-height: 1.5;
}
.desc{
    font-size: 15px;
    line-height: 1.5;
    font-family: "Open Sans";
}